<div class="switchgame">
    <a href="../solovsbot/solo.html"><button class="solovsbot" style="color: white; font-size: 13px;">Solo contre ordi</button></a>
    <br>
    <a href="#"><button class="multiplayer" style="color: white; font-size: 13px;">Multijoueur local</button></a>
    <br>
    <a href="../index.html"><button class="home" style="margin-top: 2%;margin-left: 5%;"><img src="../assets/img/home.png" alt="homme" style="height: 40px"></button></a>
</div>
<header>
    <script src="multijoueur.js" defer></script>
    <link rel="stylesheet" href="multijoueur.css">
</header>
<div id="game">
    Veuillez activer javascript pour jouer.
</div>

