/*Modification des boutons*/
.switchgame a{
    text-decoration: none;
    color: white;
    font-size: 13px;

}

.switchgame button{
    width: 10%;
    height: 10%;
    border-radius: 10px;
    background-color: #046380;
    border-color: transparent;
}

.switchgame .multiplayer {
    margin-top: 2%;
    margin-left: 5%;
}
.switchgame .solovsbot {
    margin-top: 5%;
    margin-left: 5%;
}

#game table {
    width: 650px;
    height: 350px;
    background-color: #046380;
    border-radius: 30px;
}
#game td {
    background-color: black;
    border-radius: 50%;
    height: 85px;
}
#game td.player1 {
    background-color: red;
}
#game td.player2 {
    background-color: yellow;
}

body
{
    margin: 0;
    background-color: black;
    font-family: 'Source code pro';
}

#game {
    position:relative;
    position:absolute;
    left: 50%;
    top: 35%;
    margin-left: -325px;
    margin-top: -175px;
}

table {
    border-radius: 10px;
}

