/*Modification des boutons*/
.switchgame a{
    text-decoration: none;
    font-size: 13px;

}

.switchgame button{
    width: 40%;
    height: 40%;
    border-radius: 10px;
    background-color: #046380;
    border-color: transparent;
}

.switchgame .multiplayer {
    margin-top: 2%;
    margin-left: 5%;
}

.switchgame .solovsbot {
    margin-top: 5%;
}