/*Modification des boutons*/
.switchgame a{
    text-decoration: none;
    color: white;

}

.switchgame button{
    width: 10%;
    height: 10%;
    border-radius: 10px;
    background-color: #046380;
    border-color: transparent;
}

.switchgame .multiplayer {
    margin-top: 2%;
    margin-left: 5%;
}

.switchgame .solovsbot {
    margin-top: 5%;
    margin-left: 5%;
}

body
{
    margin: 0;
    background-color: black;
    font-family: 'Source code pro';
}


#jeu
{
    position:relative;
    position:absolute;
    left: 50%;
    top: 35%!important;
    margin-left: -325px;
    margin-top: -175px;

}

table
{
    width: 650px;
    height: 350px;
    background-color: #046380;
    border-radius: 30px;
}

td
{
    background-color: black;
    border-radius: 50%;
    height: 85px;
}

.J1
{
    background-color: #6F0303;
}

.J2
{
    background-color: #EA920E;
}

.winner
{
    box-shadow: 0 0 0 5px black inset;
}


#box
{
    z-index: 0;
    width: 150px;
    height: 50px;
    background-color: #002F2F;
    border: 3px solid #046380;
    border-radius: 10px;
    position: absolute;
    top: 240px;
    left: 250px;
    text-align: center;
}

span, button
{
    font-size: 13px;
}

span
{
    color: #96CA2D;
}

p
{
    color: white;
}