<div class="switchgame">
    <a href="#"><button class="solovsbot" style="color: white;">Solo contre ordi</button></a>
    <br>
    <a href="../multijoueurlocal/multijoueur.html"><button class="multiplayer" style="color: white;">Multijoueur local</button></a>
    <br>
    <a href="../index.html"><button class="home" style="margin-top: 2%;margin-left: 5%;"><img src="../assets/img/home.png" alt="homme" style="height: 40px"></button></a>
</div>
<header>
    <script src="solo.js" defer></script>
    <link rel="stylesheet" href="solo.css">
</header>
<div id='jeu'>Activez JavaScript pour jouer.</div>
<audio id ='win' src="http://s1download-universal-soundbank.com/mp3/sounds/newalert.mp3"></audio>
<audio id ='loose' src="http://s1download-universal-soundbank.com/mp3/sounds/9764.mp3"></audio>


